.main-container{
    
    height:100vh;
    width: 100vw;
    display: flex;
    align-items:center;
    justify-content: center;
}


.container{
    height: 481px;
  width: 839px;
  border-radius: 15px;
  background: linear-gradient(180deg, #20BBFF 0%, #0E85FF 100%);
  box-shadow: 0 8px 18px 10px rgba(0,0,0,0.02);
  display: flex;
 

}
.innercontainer{
    height:95%;
    width: 330px;
    border-width: 2;
    border-style: dashed;
    border-color: #0E85FF;
    margin:10px
}
.textcotainer{
    margin-top: 2rem;
    margin-left: 3rem;
}
.text{

    height: 54px;
    width: 281px;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 27px;
    text-align: center;
 
}
.img{
    height: 204px;
    width: 170px;
    /* transform: scaleY(-1); */
    /* background-color: #FFFFFF; */
    margin-top: 75px;
    margin-left: 80px;

}
.divider{
    height: 100%;
    border: 0.5px solid rgba(236, 241, 236, 0.2);  
}
.mainLogo{
    display: none;
}

@media screen and (max-width : 480px) {
    .container{
        height: 100%;
      width: 100%;
      border-radius: 15px;
      background: linear-gradient(180deg, #20BBFF 0%, #0E85FF 100%);
      box-shadow: 0 8px 18px 10px rgba(0,0,0,0.02);
      display: flex;
      flex-direction: column;
      /* margin-left: 2rem; */
     
    
    }
    .innercontainer{
       display: none;
    }
    .divider{
        display: none;
    }
    .mainLogo{
        display: block;
        margin: 70px 0px 0px 100px;
    }
}