
.signIncontainer{
    height: 387px;
  width: 333px;
  display: flex;
  margin-left: 5rem;
  margin-top: 5rem;
  flex-direction: column;
}
.headerSi{
    height: 27px;
    width: 305px;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    /* letter-spacing: 1.67px;  */
    line-height: 27px;
    text-align: center;
    margin-bottom: 2rem;
}
.inputcontainerSi{
height: 54px;
  width: 332px;
  box-sizing: border-box;
  height: 54px;
  width: 332px;
  border: 0.55px solid rgba(208,208,208,0.5);
  border-radius: 4px;
  background-color: #FFFFFF;
  margin-bottom: 1rem;
 

}
.inputSi{
    height: 90%;
    width: 80%;
    color: #787E8C;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    margin-left: 1rem;
    border-style: none;
}
.inputSi:focus{
    outline: none;
}
.forgotpwdSi{
    height: 19px;
  width: 154px;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 19px;
  text-align: right;
  align-self: flex-end;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
.noaccountbtnSi{
    height: 19px;
  width: 230px;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
  background-color: transparent;
  border-style: none;
  margin-left: -15px;
  margin-top: 3rem;
}

@media screen and (max-width : 480px) {

  .signIncontainer{
    height: 387px;
  width: 333px;
  /* display: flex; */
  /* margin-left: 5rem; */
  margin-top: 5rem;
  /* flex-direction: column; */
}
    .inputcontainerSi{
/* height: 3.375rem;
  width: 20.75rem; */
  box-sizing: border-box;
  border: 0.55px solid rgba(208,208,208,0.5);
  border-radius: 4px;
  background-color: #FFFFFF;
  margin-bottom: 1rem;
 

}
.inputSi{
    /* height: 80%;
    width: 90%; */
    color: #787E8C;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    border-style: none;
}
.forgotpwdSi{
  text-align: center;
}
}