.main-containerM {
margin:auto 0;
}
.containerM{
  height: 100vh;
  width: 100vw;
 display: flex;
 

}
.sideBarContainer {
  height: 100%;
  width: 120px;
  background-color: #2892ff;


  display: flex;
  flex-direction: column;
}
.hamberger{
  height: 22px;
  width: 40px;
  margin: 40px auto;
}
.HomeDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.rectangleHome {
  height: 80px;
  width: 7px;
  border-radius: 3px;
  background-color: #FFA043;
  margin-left: -2px;
}
.homeIcon{
  box-sizing: border-box;
  height: 41px;
  width: 41.53px;
  margin: 40px auto;
}
.ovalHome {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: #FFA043;
  margin-right: -10px;
}
.menucontainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menubarContainer{
   height: 104px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin: 25px auto;
}
.homelogo{
  height: 68px;
  width: 179px;
  margin:10px 0 0 80px
}
.sidemenucontainer{
  width: 200px;
  align-items: center;
  justify-content: space-between;
 
  align-self: center;
  margin-right: 40px;

}
.synclogo{
  height: 35px;
  width: 60px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 8px 18px 10px rgba(0,0,0,0.03);
  margin-right: 30px;
}
.profilelogo{
  height: 35px;
  width: 60px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 8px 18px 10px rgba(0,0,0,0.03);

}
.homedivider{

  width: 100%;
  border: 1px solid rgba(236, 241, 236, 0.5);
}
.mainhomeconatiner{
  margin: 0 auto;
  border-style: dashed;
  border-width: 2;
  height: 100%;
  width: 100%;
  /* border: 1px; */
  /* overflow:hidden; */
}
.maininner{
  width: 85%;
  height: 90px;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.sitesdiv{
  flex-direction: column;
}
.sites {
  height: 41px;
  width: 69px;
  color: #3C4857;
  /* font-family: "Open Sans"; */
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 41px;
}
.siteLine{
  height: 3px;
        width: 30px;
        border-radius: 3.5px;
        background-color: #FFA222;
}
.searchAddDiv{
    display: flex;
    width: 330px;
    flex-direction: row;
    justify-content: space-between;

}
.searchfielddiv{
  height: 32px;
  width: 245px;
  align-self: center;
  display: flex;
}
.searchfield{
  height: 32px;
  width: 245px;
  border-style: none;
  font-size: 18px;
  
}
.searchfield:focus{
  outline: none;
}
.searchIcon{
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  margin:5px auto;
  
}
.addIcon{
  height: 48px;
  width: 48px;
}
.searchLine{
  height: 1px;
  width: 245px;
  background-color: #0E85FF;
  margin-top: -5px;
}
.mediadiv{
  display: flex;
  width: 85%;
  /* align-items: center; */
  /* justify-content: space-between; */
  margin: auto;
}
.social-media {
  height: 33px;
  width: 141px;
  color: #3C4857;
  /* font-family: "Open Sans"; */
  font-size: 24px;
  letter-spacing: 0;
  line-height: 33px;
}
.oval {
  box-sizing: border-box;
  height: 37px;
  width: 37px;
  border: 1px solid #FFFFFF;
  background-color: #0E85FF;
  border-radius: 50%;

  
}
.number {
  height: 27px;
  width: 23px;
  color: #FFFFFF;
  /* font-family: "Open Sans"; */
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 27px;
  margin: 0 auto;
}

.path-copy {
  box-sizing: border-box;
  height: 10px;
  width: 14px;
  align-self: center;
  margin-left: 10px;
}
.carddivmain{
  justify-content: center;

  margin:0 auto;
  width: 85%;
 
}
.carddiv{
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  gap: 30px;
  /* margin-left: 140px; */
  margin-top: 50px;
  height: 70%;
  border: 1px solid red;

}
.mainheaderMobM{
  display: none;
}
.hambergerMob{
  display: none;
}
.innerheaderMob{
  display: none;
}
.syncMob{
  display:none;
}
.profileMob{
  display: none;
}
.searchMob{
  display: none;
}
.hambergerDivMob{
  display: none;
}
.mediadivMob{
  display: none;
}

@media screen and (max-width: 480px){
  .sideBarContainer{
    display: none;
  }
  .menubarContainer{
    display: none;
  }
  .homedivider{
    display: none;
  }
  .mainheaderMobM{
    display: flex;
   width: 100%;
  background-color: #0E85FF;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.24);
  /* margin: 0 auto; */
  
  padding: 15px;
  justify-content: space-between;
  }
  .hambergerDivMob{

    display: flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
  }
  .hambergerMob{
    display: block;
    height: 16px;
    width: 18px;
 

  }
  .passmanagerMob{
    height: 32px;
    width: 87px;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.8px;
    line-height: 16px;
  }
  .innerheaderMob{
    display: flex;
  
    justify-content: space-between;
    width: 35%;
    align-items: center;
  }
  .searchMob {
        display: block;
  height: 22px;
  width: 22px;

}
.syncMob{
      display: block;
 height: 22px;
  width: 29.7px;
}
.profileMob{
  display: block;
 height: 22px;
  width: 22px;
}
.searchAddDiv{
  display: none;
}
.searchLine{
  display: none;
}
.mediadiv{
  display: none;
}
/* .sitesdiv{
  display: none;
} */
.mediadivMob{
 display: flex;
  /* width: 85%; */
  /* align-items: center; */
  /* justify-content: space-between; */
  align-items: flex-end;

  margin-left: 30%;
}
}